<div th:fragment="modal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="addCustomerForm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Adicionar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="customerName">Nome do Cliente</label>
                        <input type="text" class="form-control" id="customerName" required>
                    </div>
                    <div class="form-group">
                        <label for="customerPhone">Telefone</label>
                        <input type="text" class="form-control" id="customerPhone" required>
                    </div>
                    <div class="form-group">
                        <label for="customerSituacao">Situação</label>
                        <select class="form-control" id="customerSituacao" required>
                            <option value="Quer comprar">Quer comprar</option>
                            <option value="Já pagou">Já pagou</option>
                            <option value="Falta pagar">Falta pagar</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="customerHoneyJars">Garrafas de Mel</label>
                        <input type="number" class="form-control" id="customerHoneyJars">
                    </div>
                    <div class="form-group">
                        <label for="customerHoneycombs">Potes de Favo</label>
                        <input type="number" class="form-control" id="customerHoneycombs">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Adicionar Cliente</button>
                </div>
            </form>
        </div>
    </div>
</div>