<!-- modal_update_harvest.html -->
<div th:fragment="modal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade" id="updateHarvestModal" tabindex="-1" aria-labelledby="updateHarvestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="updateHarvestForm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateHarvestModalLabel">Editar Colheita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateharvestName">Nome da Colheita</label>
                        <input type="text" class="form-control" id="updateharvestName" required>
                    </div>
                    <div class="form-group">
                        <label for="updateharvestHoneyBucket">Total de baldes de mel</label>
                        <input type="number" class="form-control" id="updateharvestHoneyBucket" required>
                    </div>

                    <div class="form-group">
                        <label for="updateharvestHoneyJars">Total de Garrafas de Mel</label>
                        <input type="number" class="form-control" id="updateharvestHoneyJars" required>
                    </div>
                    <div class="form-group">
                        <label for="updateharvestHoneycombs">Total de Potes de Favo</label>
                        <input type="number" class="form-control" id="updateharvestHoneycombs" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Editar Colheita</button>
                </div>
            </form>
        </div>
    </div>
</div>
